%h1== Current Turn: Round #{Turn.current_active_round}

= render "form"

%h3 Previous turns

%table
  %tr
    %th

  - @inactive_turns.reverse.each do |turn|
    %tr
      %td= link_to "Round #{ turn.round}", turn

%br
