%h1 Current Turn

= render "form"

%h3 Previous turns

%table
  %tr
    %th

  - @inactive_turns.reverse.each do |turn|
    %tr
      %td= link_to "Round #{ turn.round}", turn

%br

= link_to 'New Turn', new_turn_path
