%h1== Round #{Turn.current_inactive_round}


%table
  %tr
    %th User
  - @turns.each do |turn|
    %tr
      - if turn.user.alive
        %td= link_to turn.user.nation, turn
      - else
        %td.dead= turn.user.nation
